extends layout

block links
    link(href='/stylesheets/c3.css' rel='stylesheet' type='text/css')
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')
    link(href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css")
    link(href="/stylesheets/sb-admin.css" rel="stylesheet" type="text/css")        
    link(href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css")   
            
block scripts    
    script(src='/javascripts/d3.min.js' charset='utf-8' type='text/javascript')
    script(src='/javascripts/c3.min.js' type='text/javascript')
    script(src='/javascripts/jquery-2.2.1.min.js' type='text/javascript')    
    script(src='/javascripts/bootstrap.min.js' type='text/javascript')
    
block content
    div.container-fluid
        div.row
            div.col-md-12
                h1.page-header #{title}   
                ol.breadcrumb
                    li
                        i.fa.fa-dashboard
                        a(href="/") 
                            | Hockey Stats
                    li
                        i.fa.fa-list-ul
                        a(href="/gameentry") 
                            | Games  
                    li
                        i.fa.fa-edit
                        a(href="/gameentry/#{stream_id}") 
                            | #{stream_id}                                              
        div.row
            div.col-md-3
                div.btn-group-vertical(role="group")
                    button.btn.btn-default(data-toggle="modal" data-target="#gameStartModal") Game Start
                    button.btn.btn-default(data-toggle="modal" data-target="#homeScoreModal") Home Score
                    button.btn.btn-default(data-toggle="modal" data-target="#homePenaltyModal") Home Penalty
                    button.btn.btn-default(data-toggle="modal" data-target="#guestScoreModal") Guest Score
                    button.btn.btn-default(data-toggle="modal" data-target="#guestPenaltyModal") Guest Penalty
                    button.btn.btn-default(data-toggle="modal" data-target="#gameEndModal") Game End
            div.col-md-9
                div.col-md-12.table-responsive
                    table.table
                        thead
                            tr
                                th Event#
                                th Event Type
                                th Event Data
                        tbody
                            each game_event in game_events
                                tr
                                    td #{game_event.number}
                                    td #{game_event.type}
                                    td 
                                        pre #{JSON.stringify(game_event.json, undefined, 4)}
    div#gameStartModal.modal.fade(tabIndex="-1" role="dialog" aria-labelledby="gameStartModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#gameStartModalLabel.mdoal-title Game Start
                form#gameStartForm.form-horizontal(name='game_start' method='post' action='/gameentry/gamestart')
                    div.modal-body
                        div.form-group
                            label.col-sm-3.control-label(for='date') Date
                            div.col-sm-9
                                input#streamId(type="hidden" value="#{stream_id}")
                                input#date.form-control(type='date', name='date')
                        div.form-group
                            label.col-sm-3.control-label(for='time') Time
                            div.col-sm-9
                                input#time.form-control(type='time', name='time')
                    div.modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
                        button.btn.btn-primary(type="submit") Save            
    div#homeScoreModal.modal.fade(tabIndex="-2" role="dialog" aria-labelledby="homeScoreModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#homeScoreModalLabel.mdoal-title Home Score
                form#homeScoreForm.form-horizontal(name='home_score' method='post' action='/gameentry/homescore')
                    div.modal-body
                        div.form-group
                            label.col-sm-3.control-label(for='periodOptions') Period
                            div.col-sm-9
                                input#streamId(type="hidden" value="#{stream_id}")                            
                                label.radio-inline 
                                    input#periodOption1(type='radio' name='periodOptions' value='1')
                                    | 1
                                label.radio-inline 
                                    input#periodOption2(type='radio' name='periodOptions' value='2')
                                    | 2
                                label.radio-inline
                                    input#periodOption3(type='radio' name='periodOptions' value='3') 
                                    | 3                        
                                label.radio-inline
                                    input#periodOption4(type='radio' name='periodOptions' value='Overtime') 
                                    | Overtime 
                        div.form-group
                            label.col-sm-3.control-label(for='time') Time
                            div.col-sm-9
                                input#time.form-control(type='text', name='time')
                        div.form-group
                            label.col-sm-3.control-label(for='kindOptions') Kind
                            div.col-sm-9
                                label.radio-inline 
                                    input#kindOption0(type='radio' name='kindOptions' value='Even')
                                    | Even
                                label.radio-inline 
                                    input#kindOption1(type='radio' name='kindOptions' value='Power Play')
                                    | Power Play
                                label.radio-inline
                                    input#kindOption2(type='radio' name='kindOptions' value='Short Hand') 
                                    | Short Hand                        
                                label.radio-inline
                                    input#kindOption3(type='radio' name='kindOptions' value='Empty Net') 
                                    | Empty Net                        
                        div.form-group
                            label.col-sm-3.control-label(for='score') Score
                            div.col-sm-9
                                input#score.form-control(type='text', name='score')
                        div.form-group
                            label.col-sm-3.control-label(for='assist1') Assist1
                            div.col-sm-9
                                input#assist1.form-control(type='text', name='assist1')
                        div.form-group
                            label.col-sm-3.control-label(for='assist2') Assist2
                            div.col-sm-9
                                input#assist2.form-control(type='text', name='assist2')
                    div.modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
                        button.btn.btn-primary(type="submit") Save            
    div#homePenaltyModal.modal.fade(tabIndex="-3" role="dialog" aria-labelledby="homePenaltyModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#homePenaltyModalLabel.mdoal-title Home Penalty
                form#homePenaltyForm.form-horizontal(name='home_penalty' method='post' action='/gameentry/homepenalty')
                    div.modal-body
                        div.form-group
                            label.col-sm-3.control-label(for='periodOptions') Period
                            div.col-sm-9
                                input#streamId(type="hidden" value="#{stream_id}")                            
                                label.radio-inline 
                                    input#periodOption1(type='radio' name='periodOptions' value='1')
                                    | 1
                                label.radio-inline 
                                    input#periodOption2(type='radio' name='periodOptions' value='2')
                                    | 2
                                label.radio-inline
                                    input#periodOption3(type='radio' name='periodOptions' value='3') 
                                    | 3                        
                                label.radio-inline
                                    input#periodOption4(type='radio' name='periodOptions' value='Overtime') 
                                    | Overtime 
                        div.form-group
                            label.col-sm-3.control-label(for='time') Time
                            div.col-sm-9
                                input#time.form-control(type='text', name='time')
                        div.form-group
                            label.col-sm-3.control-label(for='player') Player
                            div.col-sm-9
                                input#player.form-control(type='text', name='player')
                        div.form-group
                            label.col-sm-3.control-label(for='offense') Offense
                            div.col-sm-9
                                input#offense.form-control(type='text', name='offense')
                        div.form-group
                            label.col-sm-3.control-label(for='min') Minutes
                            div.col-sm-9
                                input#min.form-control(type='text', name='min')
                        div.form-group
                            label.col-sm-3.control-label(for='off') Off
                            div.col-sm-9
                                input#off.form-control(type='text', name='off')
                        div.form-group
                            label.col-sm-3.control-label(for='on') On
                            div.col-sm-9
                                input#on.form-control(type='text', name='on')
                    div.modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
                        button.btn.btn-primary(type="submit") Save            
    div#guestScoreModal.modal.fade(tabIndex="-4" role="dialog" aria-labelledby="guestScoreModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#guestScoreModalLabel.mdoal-title Guest Score
                form#guestScoreForm.form-horizontal(name='guest_score' method='post' action='/gameentry/guestscore')
                    div.modal-body
                        div.form-group
                            label.col-sm-3.control-label(for='periodOptions') Period
                            div.col-sm-9
                                input#streamId(type="hidden" value="#{stream_id}")                        
                                label.radio-inline 
                                    input#periodOption1(type='radio' name='periodOptions' value='1')
                                    | 1
                                label.radio-inline 
                                    input#periodOption2(type='radio' name='periodOptions' value='2')
                                    | 2
                                label.radio-inline
                                    input#periodOption3(type='radio' name='periodOptions' value='3') 
                                    | 3                        
                                label.radio-inline
                                    input#periodOption4(type='radio' name='periodOptions' value='Overtime') 
                                    | Overtime 
                        div.form-group
                            label.col-sm-3.control-label(for='time') Time
                            div.col-sm-9
                                input#time.form-control(type='text', name='time')
                        div.form-group
                            label.col-sm-3.control-label(for='kindOptions') Kind
                            div.col-sm-9
                                label.radio-inline 
                                    input#kindOption0(type='radio' name='kindOptions' value='Even')
                                    | Even
                                label.radio-inline 
                                    input#kindOption1(type='radio' name='kindOptions' value='Power Play')
                                    | Power Play
                                label.radio-inline
                                    input#kindOption2(type='radio' name='kindOptions' value='Short Hand') 
                                    | Short Hand                        
                                label.radio-inline
                                    input#kindOption3(type='radio' name='kindOptions' value='Empty Net') 
                                    | Empty Net                        
                        div.form-group
                            label.col-sm-3.control-label(for='score') Score
                            div.col-sm-9
                                input#score.form-control(type='text', name='score')
                        div.form-group
                            label.col-sm-3.control-label(for='assist1') Assist1
                            div.col-sm-9
                                input#assist1.form-control(type='text', name='assist1')
                        div.form-group
                            label.col-sm-3.control-label(for='assist2') Assist2
                            div.col-sm-9
                                input#assist2.form-control(type='text', name='assist2')
                    div.modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
                        button.btn.btn-primary(type="submit") Save            
    div#guestPenaltyModal.modal.fade(tabIndex="-5" role="dialog" aria-labelledby="guestPenaltyModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#guestPenaltyModalLabel.mdoal-title Guest Penalty
                form#guestPenaltyForm.form-horizontal(name='guest_penalty' method='post' action='/gameentry/guestpenalty')
                    div.modal-body
                        div.form-group
                            label.col-sm-3.control-label(for='periodOptions') Period
                            div.col-sm-9
                                input#streamId(type="hidden" value="#{stream_id}")                                                    
                                label.radio-inline 
                                    input#periodOption1(type='radio' name='periodOptions' value='1')
                                    | 1
                                label.radio-inline 
                                    input#periodOption2(type='radio' name='periodOptions' value='2')
                                    | 2
                                label.radio-inline
                                    input#periodOption3(type='radio' name='periodOptions' value='3') 
                                    | 3                        
                                label.radio-inline
                                    input#periodOption4(type='radio' name='periodOptions' value='Overtime') 
                                    | Overtime 
                        div.form-group
                            label.col-sm-3.control-label(for='time') Time
                            div.col-sm-9
                                input#time.form-control(type='text', name='time')
                        div.form-group
                            label.col-sm-3.control-label(for='player') Player
                            div.col-sm-9
                                input#player.form-control(type='text', name='player')
                        div.form-group
                            label.col-sm-3.control-label(for='offense') Offense
                            div.col-sm-9
                                input#offense.form-control(type='text', name='offense')
                        div.form-group
                            label.col-sm-3.control-label(for='min') Minutes
                            div.col-sm-9
                                input#min.form-control(type='text', name='min')
                        div.form-group
                            label.col-sm-3.control-label(for='off') Off
                            div.col-sm-9
                                input#off.form-control(type='text', name='off')
                        div.form-group
                            label.col-sm-3.control-label(for='on') On
                            div.col-sm-9
                                input#on.form-control(type='text', name='on')
                    div.modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
                        button.btn.btn-primary(type="submit") Save            
    div#gameEndModal.modal.fade(tabIndex="-6" role="dialog" aria-labelledby="gameEndModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#gameEndModalLabel.mdoal-title Game End
                form#gameEndForm.form-horizontal(name='game_end' method='post' action='/gameentry/gameend')
                    div.modal-body
                        div.form-group
                            label.col-sm-3.control-label(for='date') Date
                            div.col-sm-9
                                input#streamId(type="hidden" value="#{stream_id}")                                                    
                                input#date.form-control(type='date', name='date')
                        div.form-group
                            label.col-sm-3.control-label(for='time') Time
                            div.col-sm-9
                                input#time.form-control(type='time', name='time')
                    div.modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
                        button.btn.btn-primary(type="submit") Save            

         


            