extends layout

block links

    <!-- C3 Chart CSS -->
    link(href='/bower_components/c3/c3.css' rel='stylesheet' type='text/css')
    
    link(href="/stylesheets/style.css" rel="stylesheet" type="text/css")
    
    <!-- Bootstrap Core CSS -->
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css")

    <!-- MetisMenu CSS -->
    link(href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" type="text/css")

    <!-- DataTables CSS -->
    link(href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css")

    <!-- DataTables Responsive CSS -->
    link(href="bower_components/datatables-responsive/css/responsive.dataTables.scss" rel="stylesheet")
    
    <!-- Custom CSS -->
    link(href="/bower_components/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" type="text/css")

    <!-- Custom Fonts -->
    link(href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    
block content
    div.row
        div.col-md-12
            h1.page-header #{title}
            ol.breadcrumb
                li
                    i.fa.fa-list-ul
                    a(href="/gameentry") 
                        | Games  
                li
                    i.fa.fa-edit
                    | 
                    | #{stream_id}                     
    div.row
        div.col-md-12
            div.panel.panel-default
                div.panel-heading
                    button#btnGameStart.btn.btn-default(disabled=gamestart data-toggle="modal" data-target="#gameStartModal") Game Start
                    button#btnHomeScore.btn.btn-default(disabled=!gamestart || gameover  data-toggle="modal" data-target="#homeScoreModal") Home Score
                    button#btnHomePenalty.btn.btn-default(disabled=!gamestart || gameover data-toggle="modal" data-target="#homePenaltyModal") Home Penalty
                    button#btnGuestScore.btn.btn-default(disabled=!gamestart || gameover data-toggle="modal" data-target="#guestScoreModal") Guest Score
                    button#btnGuestPenalty.btn.btn-default(disabled=!gamestart || gameover data-toggle="modal" data-target="#guestPenaltyModal") Guest Penalty
                    button#btnGameEnd.btn.btn-default(disabled=!gamestart ||gameover data-toggle="modal" data-target="#gameEndModal") Game End
                    div.pull-right
                        <a class="btn btn-info" href="/gameentry/#{stream_id}/timeline" role="button">Timeline</a>
                div.panel-body
                    div.dataTable_wrapper
                        table#datatable-gameevents.table.table-hover
                            thead
                                tr
                                    th Event Type
                                    th Event Data
                            tbody
                            
    div#gameStartModal.modal.fade(tabIndex="-1" role="dialog" aria-labelledby="gameStartModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#gameStartModalLabel.modal-title 
                        i.fa.fa-play
                        |                          
                        | Game Start
                form#gameStartForm.form-horizontal(name='game_start' method='post' action="/gameentry/gamestart")
                    div.modal-body
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='date') Date
                            div.col-xs-6.col-sm-8.col-md-8
                                <input type="hidden" name="streamId" id ="streamId1" value="#{stream_id}">
                                input#date1.form-control(type='date' name='date1')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='time') Time
                            div.col-xs-6.col-sm-8.col-md-8
                                input#time1.form-control(type='time' name='time1')
                    div.modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
                        button#submit1.btn.btn-primary(type="button") Save            
    div#homeScoreModal.modal.fade(tabIndex="-2" role="dialog" aria-labelledby="homeScoreModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#homeScoreModalLabel.modal-title 
                        i.fa.fa-smile-o
                        |                          
                        | Home Score
                form#homeScoreForm.form-horizontal(name='home_score' method='post' action='/gameentry/homescore')
                    div.modal-body
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='periodOptions') Period
                            div.col-xs-6.col-sm-8.col-md-8.dropdown
                                div.btn-group
                                    <input type="hidden" name="streamId" id ="streamId2" value="#{stream_id}">
                                    button#periodOptions2.btn.btn-default.dropdown-toggle.form-control(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                        | 1
                                        | 
                                        span.caret
                                    ul.dropdown-menu(aria-labelledby="typeOptions")
                                        li
                                            a()
                                                | 1
                                        li
                                            a()
                                                | 2 
                                        li
                                            a()
                                                | 3
                                        li
                                            a()
                                                | Overtime
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='time') Time
                            div.col-xs-6.col-sm-8.col-md-8
                                input#time2.form-control(type='text', name='time2')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='kindOptions') Kind
                            div.col-xs-6.col-sm-8.col-md-8.dropdown
                                div.btn-group
                                    button#kindOptions2.btn.btn-default.dropdown-toggle.form-control(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                        | even
                                        | 
                                        span.caret
                                    ul.dropdown-menu(aria-labelledby="typeOptions")
                                        li
                                            a()
                                                | even
                                        li
                                            a()
                                                | pp
                                        li
                                            a()
                                                |sh
                                        li
                                            a()
                                                | en
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='score') Score
                            div.col-xs-6.col-sm-8.col-md-8
                                input#score2.form-control(type='text' name='score2')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='assist1') Assist1
                            div.col-xs-6.col-sm-8.col-md-8
                                input#assist12.form-control(type='text' name='assist12')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='assist2') Assist2
                            div.col-xs-6.col-sm-8.col-md-8
                                input#assist22.form-control(type='text' name='assist22')
                    div.modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
                        button#submit2.btn.btn-primary(type="button") Save            
    div#homePenaltyModal.modal.fade(tabIndex="-3" role="dialog" aria-labelledby="homePenaltyModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#homePenaltyModalLabel.modal-title 
                        i.fa.fa-ban
                        |                          
                        | Home Penalty
                form#homePenaltyForm.form-horizontal(name='home_penalty' method='post' action='/gameentry/homepenalty')
                    div.modal-body
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='periodOptions') Period
                            div.col-xs-6.col-sm-8.col-md-8.dropdown
                                div.btn-group
                                    <input type="hidden" name="streamId" id ="streamId3" value="#{stream_id}">
                                    button#periodOptions3.btn.btn-default.dropdown-toggle.form-control(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                        | 1
                                        | 
                                        span.caret
                                    ul.dropdown-menu(aria-labelledby="typeOptions")
                                        li
                                            a()
                                                | 1
                                        li
                                            a()
                                                | 2 
                                        li
                                            a()
                                                | 3
                                        li
                                            a()
                                                | Overtime
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='time') Time
                            div.col-xs-6.col-sm-8.col-md-8
                                input#time3.form-control(type='text' name='time3')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='player') Player
                            div.col-xs-6.col-sm-8.col-md-8
                                input#player3.form-control(type='text' name='player3')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='offense') Offense
                            div.col-xs-6.col-sm-8.col-md-8
                                input#offense3.form-control(type='text' name='offense3')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='min') Minutes
                            div.col-xs-6.col-sm-8.col-md-8
                                input#min3.form-control(type='text' name='min3')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='off') Off
                            div.col-xs-6.col-sm-8.col-md-8
                                input#off3.form-control(type='text' name='off3')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='on') On
                            div.col-xs-6.col-sm-8.col-md-8
                                input#on3.form-control(type='text' name='on3')
                    div.modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
                        button#submit3.btn.btn-primary(type="button") Save            
    div#guestScoreModal.modal.fade(tabIndex="-4" role="dialog" aria-labelledby="guestScoreModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#guestScoreModalLabel.modal-title 
                        i.fa.fa-frown-o
                        |                          
                        | Guest Score
                form#guestScoreForm.form-horizontal(name='guest_score' method='post' action='/gameentry/guestscore')
                    div.modal-body
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='periodOptions') Period
                            div.col-xs-6.col-sm-8.col-md-8.dropdown
                                div.btn-group
                                    <input type="hidden" name="streamId" id ="streamId4" value="#{stream_id}">
                                    button#periodOptions4.btn.btn-default.dropdown-toggle.form-control(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                        | 1
                                        | 
                                        span.caret
                                    ul.dropdown-menu(aria-labelledby="typeOptions")
                                        li
                                            a()
                                                | 1
                                        li
                                            a()
                                                | 2 
                                        li
                                            a()
                                                | 3
                                        li
                                            a()
                                                | Overtime
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='time') Time
                            div.col-xs-6.col-sm-8.col-md-8
                                input#time4.form-control(type='text' name='time4')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='kindOptions') Kind
                            div.col-xs-6.col-sm-8.col-md-8.dropdown
                                div.btn-group
                                    button#kindOptions4.btn.btn-default.dropdown-toggle.form-control(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                        | even
                                        | 
                                        span.caret
                                    ul.dropdown-menu(aria-labelledby="typeOptions")
                                        li
                                            a()
                                                | even
                                        li
                                            a()
                                                | pp
                                        li
                                            a()
                                                |sh
                                        li
                                            a()
                                                | en               
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='score') Score
                            div.col-xs-6.col-sm-8.col-md-8
                                input#score4.form-control(type='text' name='score4')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='assist1') Assist1
                            div.col-xs-6.col-sm-8.col-md-8
                                input#assist14.form-control(type='text' name='assist14')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='assist2') Assist2
                            div.col-xs-6.col-sm-8.col-md-8
                                input#assist24.form-control(type='text' name='assist24')
                    div.modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
                        button#submit4.btn.btn-primary(type="button") Save            
    div#guestPenaltyModal.modal.fade(tabIndex="-5" role="dialog" aria-labelledby="guestPenaltyModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#guestPenaltyModalLabel.modal-title 
                        i.fa.fa-ban
                        |                          
                        | Guest Penalty
                form#guestPenaltyForm.form-horizontal(name='guest_penalty' method='post' action='/gameentry/guestpenalty')
                    div.modal-body
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='periodOptions') Period
                            div.col-xs-6.col-sm-8.col-md-8.dropdown
                                div.btn-group
                                    <input type="hidden" name="streamId" id ="streamId5" value="#{stream_id}">
                                    button#periodOptions5.btn.btn-default.dropdown-toggle.form-control(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                        | 1
                                        | 
                                        span.caret
                                    ul.dropdown-menu(aria-labelledby="typeOptions")
                                        li
                                            a()
                                                | 1
                                        li
                                            a()
                                                | 2 
                                        li
                                            a()
                                                | 3
                                        li
                                            a()
                                                | Overtime
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='time') Time
                            div.col-xs-6.col-sm-8.col-md-8
                                input#time5.form-control(type='text' name='time5')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='player') Player
                            div.col-xs-6.col-sm-8.col-md-8
                                input#player5.form-control(type='text' name='player5')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='offense') Offense
                            div.col-xs-6.col-sm-8.col-md-8
                                input#offense5.form-control(type='text' name='offense5')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='min') Minutes
                            div.col-xs-6.col-sm-8.col-md-8
                                input#min5.form-control(type='text' name='min5')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='off') Off
                            div.col-xs-6.col-sm-8.col-md-8
                                input#off5.form-control(type='text' name='off5')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='on') On
                            div.col-xs-6.col-sm-8.col-md-8
                                input#on5.form-control(type='text' name='on5')
                    div.modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
                        button#submit5.btn.btn-primary(type="button") Save            
    div#gameEndModal.modal.fade(tabIndex="-6" role="dialog" aria-labelledby="gameEndModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#gameEndModalLabel.modal-title
                        i.fa.fa-stop
                        |                          
                        | Game End
                form#gameEndForm.form-horizontal(name='game_end' method='post' action='/gameentry/gameend')
                    div.modal-body
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='date') Date
                            div.col-xs-6.col-sm-8.col-md-8
                                <input type="hidden" name="streamId" id ="streamId6" value="#{stream_id}">
                                input#date6.form-control(type='date' name='date6')
                        div.form-group
                            label.col-xs-6.col-sm-4.col-md-4.control-label(for='time') Time
                            div.col-xs-6.col-sm-8.col-md-8
                                input#time6.form-control(type='time' name='time6')
                    div.modal-footer
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
                        button#submit6.btn.btn-primary(type="button") Save            

block scripts
    <!-- D3 Chart JavaScript -->
    script(src='/bower_components/d3/d3.min.js' charset='utf-8' type='text/javascript')

    <!-- C3 Chart JavaScript -->
    script(src='/bower_components/c3/c3.min.js' type='text/javascript')

    <!-- jQuery -->
    script(src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript")
    
    <!-- jQuery Validation JavaScript -->
    script(src="/bower_components/jquery-validation/dist/jquery.validate.min.js" type="text/javascript")
    script(src="/bower_components/jquery-validation/dist/additional-methods.min.js" type="text/javascript")

    <!-- Bootstrap Core JavaScript -->
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")

    <!-- Metis Menu Plugin JavaScript -->
    script(src="/bower_components/metisMenu/dist/metisMenu.min.js" type="text/javascript")

    <!-- DataTables JavaScript -->
    script(src="/bower_components/datatables/media/js/jquery.dataTables.min.js" type="text/javascript")
    script(src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" type="text/javascript")

    <!-- Custom Theme JavaScript -->
    script(src="/bower_components/sb-admin-2/js/sb-admin-2.js" type="text/javascript")
         
    script(type="text/javascript").
        $(document).ready(function() {
            $('#datatable-gameevents').DataTable({
                "responsive": true,
                "bPaginate": true,
                "bJQueryUI": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": false,
                "bInfo": true,
                "bAutoWidth": true,
                "bProcessing": true,
                "iDisplayLength": 10,
                "ajax": "/gameentry/fetchevents/#{stream_id}",
                "columns": [
                    {"data": "type"},
                    {"data": "json"}
                ],
                "createdRow": function(row, data, index) {
                    $('td', row).eq(1).html("<pre>" + JSON.stringify(data.json, undefined, 4) + "</pre>");
                },
            });

            $(".dropdown-menu li a").click(function(){
                var selText = $(this).text();
                $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
            });
            
            $("#gameStartForm").validate({
                ignore: ":hidden",
                onsubmit: false,
                rules: {
                    date1: {
                        required: true
                    },
                    time1: {
                        required: true
                    }
                },
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    element.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                },   
            });  
                       
            $("#homeScoreForm").validate({
                ignore: ":hidden",
                onsubmit: false,
                rules: {
                    periodOptions2: {
                        required: true
                    },
                    time2: {
                        required: true
                    },
                    kindOptions2: {
                        required: true
                    },
                    score2: {
                        required: true
                    },
                    assist12: {
                    },
                    assist22: {
                    }
                },
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    element.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                },   
            });  

            $("#homePenaltyForm").validate({
                ignore: ":hidden",
                onsubmit: false,
                rules: {
                    periodOptions3: {
                        required: true
                    },
                    time3: {
                        required: true
                    },
                    player3: {
                        required: true
                    },
                    offense3: {
                        required: true
                    },
                    min3: {
                        required: true
                    },
                    off3: {
                        required: true
                    },
                    on3: {
                    }
                },
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    element.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                },   
            });  

            $("#guestScoreForm").validate({
                ignore: ":hidden",
                onsubmit: false,
                rules: {
                    periodOptions4: {
                        required: true
                    },
                    time4: {
                        required: true
                    },
                    kindOptions4: {
                        required: true
                    },
                    score4: {
                        required: true
                    },
                    assist14: {
                    },
                    assist24: {
                    }
                },
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    element.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                },   
            });  

            $("#guestPenaltyForm").validate({
                ignore: ":hidden",
                onsubmit: false,
                rules: {
                    periodOptions5: {
                        required: true
                    },
                    time5: {
                        required: true
                    },
                    player5: {
                        required: true
                    },
                    offense5: {
                        required: true
                    },
                    min5: {
                        required: true
                    },
                    off5: {
                        required: true
                    },
                    on5: {
                    }
                },
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    element.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                },   
            });  

            $("#gameEndForm").validate({
                ignore: ":hidden",
                onsubmit: false,
                rules: {
                    date6: {
                        required: true
                    },
                    time6: {
                        required: true
                    }
                },
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    element.addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
                },   
            });  
        });

        $(function() {
            $("#submit1").on('click', function() {
                if ($("#gameStartForm").valid()) {
                    var postData = {
                        "streamId": $("#streamId1").val(),
                        "date": $("#date1").val(),
                        "time": $("#time1").val(),
                    };
                    var formURL = $("#gameStartForm").attr("action");
                    $.ajax(
                        {
                            url : formURL,
                            type: "POST",
                            data : postData,
                            dataType: "json",
                            success:function(data, textStatus, jqXHR) {
                                $("#gameStartModal").modal('hide');
                                setTimeout(function() {
                                    $('#datatable-gameevents').DataTable().ajax.reload(function(json) {
                                        if (json.gamestart) {
                                            $("#btnGameStart").prop('disabled', true);
                                            $("#btnHomeScore").prop('disabled', false);
                                            $("#btnHomePenalty").prop('disabled', false);
                                            $("#btnGuestScore").prop('disabled', false);
                                            $("#btnGuestPenalty").prop('disabled', false);
                                            $("#btnGameEnd").prop('disabled', false);
                                        } 
                                    });
                                }, 1000);
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                            }
                        });
                    }
                });
                
            $("#submit2").on('click', function() {
                if ($("#homeScoreForm").valid()) {
                    var postData = {
                        "streamId": $("#streamId2").val(),
                        "period": $("#periodOptions2").text().trim(),
                        "time": $("#time2").val(),
                        "kind": $("#kindOptions2").text().trim(),
                        "score": $("#score2").val(),
                        "assist1": $("#assist12").val(),
                        "assist2": $("#assist22").val()
                    };
                    var formURL = $("#homeScoreForm").attr("action");
                    $.ajax(
                        {
                            url : formURL,
                            type: "POST",
                            data : postData,
                            dataType: "json",
                            success:function(data, textStatus, jqXHR) {
                                $("#homeScoreModal").modal('hide');
                                setTimeout(function() {
                                    $('#datatable-gameevents').DataTable().ajax.reload(function(json) {
                                    });
                                }, 1000);
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                            }
                        });
                    }
                });   
                
            $("#submit3").on('click', function() {
                if ($("#homePenaltyForm").valid()) {
                    var postData = {
                        "streamId": $("#streamId3").val(),
                        "period": $("#periodOptions3").text().trim(),
                        "time": $("#time3").val(),
                        "player": $("#player3").val(),
                        "offense": $("#offense3").val(),
                        "min": $("#min3").val(),
                        "off": $("#off3").val(),
                        "on":  $("#on3").val()
                    };
                    var formURL = $("#homePenaltyForm").attr("action");
                    $.ajax(
                        {
                            url : formURL,
                            type: "POST",
                            data : postData,
                            dataType: "json",
                            success:function(data, textStatus, jqXHR) {
                                $("#homePenaltyModal").modal('hide');
                                setTimeout(function() {
                                    $('#datatable-gameevents').DataTable().ajax.reload(function(json) {
                                    });
                                }, 1000);
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                            }
                        });
                    }
                });                
                             
            $("#submit4").on('click', function() {
                if ($("#guestScoreForm").valid()) {
                    var postData = {
                        "streamId": $("#streamId4").val(),
                        "period": $("#periodOptions4").text().trim(),
                        "time": $("#time4").val(),
                        "kind": $("#kindOptions4").text().trim(),
                        "score": $("#score4").val(),
                        "assist1": $("#assist14").val(),
                        "assist2": $("#assist24").val()
                    };
                    var formURL = $("#guestScoreForm").attr("action");
                    $.ajax(
                        {
                            url : formURL,
                            type: "POST",
                            data : postData,
                            dataType: "json",
                            success:function(data, textStatus, jqXHR) {
                                $("#guestScoreModal").modal('hide');
                                setTimeout(function() {
                                    $('#datatable-gameevents').DataTable().ajax.reload(function(json) {
                                    });
                                }, 1000);
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                            }
                        });
                    }
                });   
                
            $("#submit5").on('click', function() {
                if ($("#guestPenaltyForm").valid()) {
                    var postData = {
                        "streamId": $("#streamId5").val(),
                        "period": $("#periodOptions5").text().trim(),
                        "time": $("#time5").val(),
                        "player": $("#player5").val(),
                        "offense": $("#offense5").val(),
                        "min": $("#min5").val(),
                        "off": $("#off5").val(),
                        "on":  $("#on5").val()
                    };
                    var formURL = $("#guestPenaltyForm").attr("action");
                    $.ajax(
                        {
                            url : formURL,
                            type: "POST",
                            data : postData,
                            dataType: "json",
                            success:function(data, textStatus, jqXHR) {
                                $("#guestPenaltyModal").modal('hide');
                                setTimeout(function() {
                                    $('#datatable-gameevents').DataTable().ajax.reload(function(json) {
                                    });
                                }, 1000);
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                            }
                        });
                    }
                });                
                             
            $("#submit6").on('click', function() {
                if ($("#gameEndForm").valid()) {
                    var postData = {
                        "streamId": $("#streamId6").val(),
                        "date": $("#date6").val(),
                        "time": $("#time6").val(),
                    };
                    var formURL = $("#gameEndForm").attr("action");
                    $.ajax(
                        {
                            url : formURL,
                            type: "POST",
                            data : postData,
                            dataType: "json",
                            success:function(data, textStatus, jqXHR) {
                                $("#gameEndModal").modal('hide');
                                setTimeout(function() {
                                    $('#datatable-gameevents').DataTable().ajax.reload(function(json) {
                                        if (json.gameover) {
                                        $("#btnHomeScore").prop('disabled', true);
                                            $("#btnHomePenalty").prop('disabled', true);
                                            $("#btnGuestScore").prop('disabled', true);
                                            $("#btnGuestPenalty").prop('disabled', true);
                                            $("#btnGameEnd").prop('disabled', true);                                        
                                        }                                        
                                    });
                                }, 1000);
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                            }
                        });
                    }
                });                
            });

