extends layout

block links

    <!-- C3 Chart CSS -->
    link(href='/bower_components/c3/c3.css' rel='stylesheet' type='text/css')
    
    link(href="/stylesheets/style.css" rel="stylesheet" type="text/css")
    
    <!-- Bootstrap Core CSS -->
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css")

    <!-- MetisMenu CSS -->
    link(href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" type="text/css")

    <!-- DataTables CSS -->
    link(href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css")

    <!-- DataTables Responsive CSS -->
    link(href="bower_components/datatables-responsive/css/responsive.dataTables.scss" rel="stylesheet")
    
    <!-- Custom CSS -->
    link(href="/bower_components/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" type="text/css")

    <!-- Custom Fonts -->
    link(href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
            
block content
    div.row
        div.col-lg-12
            h1.page-header #{title}
            ol.breadcrumb
                li
                    i.fa.fa-dashboard
                    a(href="/") 
                        | Dashboard
                li
                    i.fa.fa-user
                    a(href="/playerstats") 
                        | Skater Stats                
    div.row
        div.col-lg-12
            div.panel.panel-default
                div.panel-heading
                    | Skater Stats
                div.panel-body
                    div.dataTable_wrapper
                        table#datatable-gamestats.table.table-hover
                            thead
                                tr
                                    th Player #
                                    th g
                                    th ppg
                                    th shg
                                    th eng
                                    th a
                                    th pts
                                    th pim
                            tbody
                                each player_stats in players_stats
                                    tr
                                        td 
                                            a(href="/playerstats/" + encodeURIComponent(player_stats.no)) #{player_stats.no}
                                        td #{player_stats.g}
                                        td #{player_stats.ppg}
                                        td #{player_stats.shg}
                                        td #{player_stats.eng}
                                        td #{player_stats.a}
                                        td #{player_stats.pts}
                                        td #{player_stats.pim}
    div.row
        div.col-lg-12
            div.panel.panel-primary
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-bar-chart-o 
                            | Goals, Assists, Points, Penalty In Minutes By Player
                div.panel-body
                    div(id='chart00' class='c3chart') 

block scripts
    <!-- D3 Chart JavaScript -->
    script(src='/bower_components/d3/d3.min.js' charset='utf-8' type='text/javascript')

    <!-- C3 Chart JavaScript -->
    script(src='/bower_components/c3/c3.min.js' type='text/javascript')

    <!-- jQuery -->
    script(src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript")
    
    <!-- Bootstrap Core JavaScript -->
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")

    <!-- Metis Menu Plugin JavaScript -->
    script(src="/bower_components/metisMenu/dist/metisMenu.min.js" type="text/javascript")

    <!-- DataTables JavaScript -->
    script(src="/bower_components/datatables/media/js/jquery.dataTables.min.js" type="text/javascript")
    script(src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" type="text/javascript")

    <!-- Custom Theme JavaScript -->
    script(src="/bower_components/sb-admin-2/js/sb-admin-2.js" type="text/javascript")   
    
    script(type="text/javascript").
        var chart = c3.generate({
            bindto: '#chart00',
            data: {
                json: !{JSON.stringify(players_stats)},
                type: 'bar',
                keys: {
                    x: 'no',
                    value: ['g', 'a', 'ppg', 'shg', 'eng', 'pts', 'pim']
                }
            },
            axis: {
                x: {
                    type: 'category',
                }
            },
            tooltip: {
                format: {
                    title: function(x) {
                        return 'Player #' + x;
                    }
                }
            }
        });
        