extends layout

block links
    link(href='/stylesheets/c3.css' rel='stylesheet' type='text/css')
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')
    link(href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css")
    link(href="/stylesheets/sb-admin.css" rel="stylesheet" type="text/css")        
    link(href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css")   
            
block scripts    
    script(src='/javascripts/d3.min.js' charset='utf-8' type='text/javascript')
    script(src='/javascripts/c3.min.js' type='text/javascript')
    script(src='/javascripts/jquery-2.2.1.min.js' type='text/javascript')    
    script(src='/javascripts/bootstrap.min.js' type='text/javascript')

block content
    div.container-fluid
        div.row
            div.col-md-12
                h1.page-header #{title}
                ol.breadcrumb
                    li
                        i.fa.fa-dashboard
                        a(href="/") 
                            | Hockey Stats
                    li
                        i.fa.fa-user
                        a(href="/playerstats") 
                            | Player Stats   
                    li
                        i.fa.fa-line-chart
                        a(href="/playerstats/#{player_id}") 
                            | Player ##{player_id}                                              
        // div.row
        //     div.col-md-12.table-responsive
        //         table.table
        //             thead
        //                 tr
        //                     th Period
        //                     th Time
        //                     th Kind
        //                     th Score
        //                     th Assist
        //             tbody
        //                 each stats in data
        //                     if stats.score == player_id
        //                         tr
        //                             td #{stats.period}
        //                             td #{stats.time}
        //                             td #{stats.kind}
        //                             td goal
        //                             td 
        //                     if (stats.assist1 == player_id) || (stats.assist2 == player_id)  
        //                         tr                      
        //                             td #{stats.period}
        //                             td #{stats.time}
        //                             td #{stats.kind}
        //                             td 
        //                             td assist
        div.row
            div.col-md-12
                div.panel.panel-primary
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-area-chart 
                                | Goals, Assists, Penalties By Period
                    div.panel-body            
                        div(id='chart00' class='c3chart') 
                        script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart00',
                                data: {
                                    json: !{JSON.stringify(homescore)},
                                    keys: {
                                        x:'time',
                                        value: ['g', 'a', 'penalty'],
                                    },
                                    type: 'scatter',
                                    xFormat: '%M:%S'
                                },
                                axis: {
                                    x: {
                                        label:'Time',
                                        type: 'timeseries',
                                        tick: {
                                            format: '%M:%S'
                                        }
                                    }
                                },
                                regions: [
                                    {axis: 'x', start: '0:00', end: '20:00', class: 'region-period1'},
                                    {axis: 'x', start: '20:01', end: '40:00', class: 'region-period2'},
                                    {axis: 'x', start: '40:01', end: '60:00', class: 'region-period3'},
                                ],
                                tooltip: {
                                    format: {
                                        title: function(d) {
                                            var format = d3.time.format('%M:%S');
                                            return 'At ' + format(d);
                                        },
                                        name: function(name, ratio, id, index) {
                                            return name;
                                        },
                                        value: function(value, ratio, id) {
                                            if (id == 'g') {
                                                if (value == #{player_id}) {
                                                    return 'No assist';
                                                } else {
                                                    return 'Assist from ' + value;
                                                }
                                            } else if (id == 'a') {
                                                return 'Assist to ' + value;
                                            } else {
                                                return value;
                                            }
                                        }
                                    }
                                }
                            });  
        div.row
            div.col-md-12
                div.panel.panel-primary
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-area-chart 
                                | Goals (PowerPlay, ShortHand, EmptyNet), Assists, Penalty In Minutes By Date
                    div.panel-body                
                        div(id='chart10' class='c3chart')                                      
                        script(type='text/javascript').
                            var chart0 = c3.generate({
                                bindto: '#chart10',
                                data: {
                                    json: !{JSON.stringify(gamestats)},
                                    keys: {
                                        x: 'date',
                                        value: ['g', 'a', 'ppg', 'shg', 'eng', 'pts', 'pim']
                                    }
                                },
                                axis: {
                                    x: {
                                        type: 'timeseries',
                                        tick: {
                                            format: '%Y-%m-%d'
                                        }
                                    }
                                }
                            });
        div.row
            div.col-md-12
                div.panel.panel-primary
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-bar-chart 
                                | Goals (PowerPlay, ShortHand, EmptyNet), Assists, Penalty In Minutes By Opponent
                    div.panel-body                
                        div(id='chart20' class='c3chart')                                      
                        script(type='text/javascript').
                            var chart0 = c3.generate({
                                bindto: '#chart20',
                                data: {
                                    json: !{JSON.stringify(opponent_stats)},
                                    keys: {
                                        x: 'opponent',
                                        value: ['g', 'a', 'ppg', 'shg', 'eng', 'pts', 'pim']
                                    },
                                    type: 'bar'
                                },
                                legend: {
                                    position: 'inset',
                                    inset: {
                                        anchor: 'top-right'
                                    }
                                },
                                axis: {
                                    x: {
                                        type: 'category',
                                    }
                                }
                            });
        div.row
            div.col-md-12
                div.panel.panel-primary
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-bar-chart 
                                | Goals (PowerPlay, ShortHand, EmptyNet), Assists, Penalty In Minutes By Rink
                    div.panel-body                
                        div(id='chart30' class='c3chart')                                      
                        script(type='text/javascript').
                            var chart0 = c3.generate({
                                bindto: '#chart30',
                                data: {
                                    json: !{JSON.stringify(rink_stats)},
                                    keys: {
                                        x: 'rink',
                                        value: ['g', 'a', 'ppg', 'shg', 'eng', 'pts', 'pim']
                                    },
                                    type: 'bar'
                                },
                                legend: {
                                    position: 'inset',
                                    inset: {
                                        anchor: 'top-right'
                                    }
                                },
                                axis: {
                                    x: {
                                        type: 'category',
                                    }
                                }
                            });
        
        div.row
            div.col-md-4                                     
                div.panel.panel-green
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-pie-chart 
                                | Goals By Period   
                    div.panel-body      
                        div(id='chart40' class='c3chart') 
                        script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart40',
                                size: {
                                    height: 240,
                                    width: 240
                                },
                                data: {
                                    json: !{JSON.stringify(goalbyperiod)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });              
            div.col-md-4                                     
                div.panel.panel-green
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-pie-chart 
                                | Assists By Period   
                    div.panel-body      
                        div(id='chart41' class='c3chart') 
                        script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart41',
                                size: {
                                    height: 240,
                                    width: 240
                                },                                
                                data: {
                                    json: !{JSON.stringify(assistbyperiod)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });               
            div.col-md-4                                     
                div.panel.panel-green
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-pie-chart 
                                | Points By Period   
                    div.panel-body    
                        div(id='chart42' class='c3chart') 
                        script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart42',
                                size: {
                                    height: 240,
                                    width: 240
                                },                                
                                data: {
                                    json: !{JSON.stringify(pointbyperiod)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });    
        div.row
            div.col-md-4                                     
                div.panel.panel-green
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-pie-chart 
                                | Goals By Kind   
                    div.panel-body    
                        div(id='chart50' class='c3chart') 
                        script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart50',
                                size: {
                                    height: 240,
                                    width: 240
                                },
                                data: {
                                    json: !{JSON.stringify(goalbykind)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });                          
            div.col-md-4                                     
                div.panel.panel-green
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-pie-chart 
                                | Assists From By Player   
                    div.panel-body    
                        div(id='chart51' class='c3chart') 
                        script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart51',
                                size: {
                                    height: 240,
                                    width: 240
                                },
                                data: {
                                    json: !{JSON.stringify(assistfrombyplayer)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });              
            div.col-md-4                                     
                div.panel.panel-green
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-pie-chart 
                                | Assists To By Player   
                    div.panel-body               
                        div(id='chart52' class='c3chart') 
                        script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart52',
                                size: {
                                    height: 240,
                                    width: 240
                                },                                
                                data: {
                                    json: !{JSON.stringify(assisttobyplayer)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });     
        div.row
            div.col-md-4                                     
                div.panel.panel-green
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-pie-chart 
                                | Penalty By Period   
                    div.panel-body                      
                        div(id='chart60' class='c3chart') 
                        script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart60',
                                size: {
                                    height: 240,
                                    width: 240
                                },                                
                                data: {
                                    json: !{JSON.stringify(penaltybyperiod)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });      
            div.col-md-8                                     
                div.panel.panel-green
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-pie-chart 
                                | Penalty By Kind   
                    div.panel-body            
                        div(id='chart61' class='c3chart') 
                        script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart61',
                                size: {
                                    height: 240,
                                    width: 480
                                },                                
                                data: {
                                    json: !{JSON.stringify(penaltybykind)},
                                    type: 'pie',
                                },
                                legend: {
                                    position: 'right'  
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });
        div.row
            div.col-md-4                                     
                div.panel.panel-green
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-pie-chart 
                                | Penalty In Minutes By Period   
                    div.panel-body              
                        div(id='chart70' class='c3chart') 
                        script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart70',
                                size: {
                                    height: 240,
                                    width: 240
                                },                                
                                data: {
                                    json: !{JSON.stringify(pimbyperiod)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });                   
            div.col-md-8                                     
                div.panel.panel-green
                    div.panel-heading
                        h3.panel-title 
                            i.fa.fa-pie-chart 
                                | Penalty In Minutes By Kind   
                    div.panel-body        
                        div(id='chart71' class='c3chart') 
                        script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart71',
                                size: {
                                    height: 240,
                                    width: 480
                                },                                
                                data: {
                                    json: !{JSON.stringify(pimbykind)},
                                    type: 'pie',
                                },
                                legend: {
                                    position: 'right'  
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });   
                                                                   