extends layout

block links
    link(href='/stylesheets/c3.css' rel='stylesheet' type='text/css')
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')
        
block scripts    
    script(src='/javascripts/d3.min.js' charset='utf-8' type='text/javascript')
    script(src='/javascripts/c3.min.js' type='text/javascript')
    script(src='/javascripts/jquery-2.2.1.min.js' type='text/javascript')    

block content
    h1= title
    p Welcome to #{title} for player ##{player_id}
    table
        thead
            tr
                th Period
                th Time
                th Kind
                th Score
                th Assist
        tbody
            each stats in data
                if stats.score == player_id
                    tr
                        td #{stats.period}
                        td #{stats.time}
                        td #{stats.kind}
                        td goal
                        td 
                if (stats.assist1 == player_id) || (stats.assist2 == player_id)  
                    tr                      
                        td #{stats.period}
                        td #{stats.time}
                        td #{stats.kind}
                        td 
                        td assist
    div Goals and Assists
    div(id='chart00' class='c3chart') 
    script(type='text/javascript').
            var chart = c3.generate({
                bindto: '#chart00',
                data: {
                    json: !{JSON.stringify(homescore)},
                    keys: {
                        x:'time',
                        value: ['goal', 'assist'],
                    },
                    type: 'scatter',
                    xFormat: '%M:%S'
                },
                axis: {
                    x: {
                        label:'Time',
                        type: 'timeseries',
                        tick: {
                            format: '%M:%S'
                        }
                    }
                },
                regions: [
                    {axis: 'x', start: '0:00', end: '20:00', class: 'region-period1'},
                    {axis: 'x', start: '20:01', end: '40:00', class: 'region-period2'},
                    {axis: 'x', start: '40:01', end: '60:00', class: 'region-period3'},
                ],
                tooltip: {
                    format: {
                        title: function(d) {
                            var format = d3.time.format('%M:%S');
                            return 'At ' + format(d);
                        },
                        name: function(name, ratio, id, index) {
                            return name;
                        },
                        value: function(value, ratio, id) {
                            if (id == 'goal') {
                                if (value == #{player_id}) {
                                    return 'No assist';
                                } else {
                                    return 'Assist from ' + value;
                                }
                                
                            } else {
                                return 'Assist to ' + value;
                            }
                        }
                    }
                }
            });  
    div(id='chart10' class='c3chart')                                      
    script(type='text/javascript').
        var chart0 = c3.generate({
            bindto: '#chart10',
            data: {
                json: !{JSON.stringify(gamestats)},
                keys: {
                    x: 'date',
                    value: ['g', 'a', 'ppg', 'shg', 'eng', 'pts', 'pim']
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%Y-%m-%d'
                    }
                }
            }
        });
    div(style='width:100%;white-space:nowrap')
        div(style='display:inline-block;width:32%')                                     
            div Goal By Period          
            div(id='chart20' class='c3chart') 
            script(type='text/javascript').
                var chart = c3.generate({
                    bindto: '#chart20',
                    size: {
                        height: 240,
                        width: 240
                    },
                    data: {
                        json: !{JSON.stringify(goalbyperiod)},
                        type: 'pie',
                    },
                    pie: {
                        label: {
                            format: function(value, ration, id) {
                                return value;
                            }
                        }
                    }
                });              
        div(style='display:inline-block;width:2%')  
        div(style='display:inline-block;width:32%')           
                    div Assist By Period              
                    div(id='chart21' class='c3chart') 
                    script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart21',
                                size: {
                                    height: 240,
                                    width: 240
                                },                                
                                data: {
                                    json: !{JSON.stringify(assistbyperiod)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });               
        div(style='display:inline-block;width:2%')  
        div(style='display:inline-block;width:32%')     
                    div Point By Period                      
                    div(id='chart22' class='c3chart') 
                    script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart22',
                                size: {
                                    height: 240,
                                    width: 240
                                },                                
                                data: {
                                    json: !{JSON.stringify(pointbyperiod)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });                               
    div(style='width:100%;white-space:nowrap')
        div(style='display:inline-block;width:32%')    
                    div Goal By Kind          
                    div(id='chart30' class='c3chart') 
                    script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart30',
                                size: {
                                    height: 240,
                                    width: 240
                                },
                                data: {
                                    json: !{JSON.stringify(goalbykind)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });                          
        div(style='display:inline-block;width:2%')  
        div(style='display:inline-block;width:32%')  
                    div Assist From By Player          
                    div(id='chart31' class='c3chart') 
                    script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart31',
                                size: {
                                    height: 240,
                                    width: 240
                                },
                                data: {
                                    json: !{JSON.stringify(assistfrombyplayer)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });              
        div(style='display:inline-block;width:2%')  
        div(style='display:inline-block;width:32%')    
                    div Assist To By Player              
                    div(id='chart32' class='c3chart') 
                    script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart32',
                                size: {
                                    height: 240,
                                    width: 240
                                },                                
                                data: {
                                    json: !{JSON.stringify(assisttobyplayer)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });               
    div(style='width:100%;white-space:nowrap')
        div(style='display:inline-block;width:32%')     
                    div Penalty By Period                      
                    div(id='chart40' class='c3chart') 
                    script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart40',
                                size: {
                                    height: 240,
                                    width: 240
                                },                                
                                data: {
                                    json: !{JSON.stringify(penaltybyperiod)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });      
        div(style='display:inline-block;width:2%')  
        div(style='display:inline-block;width:32%')    
                    div Penalty By Kind                      
                    div(id='chart50' class='c3chart') 
                    script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart50',
                                size: {
                                    height: 240,
                                    width: 480
                                },                                
                                data: {
                                    json: !{JSON.stringify(penaltybykind)},
                                    type: 'pie',
                                },
                                legend: {
                                  position: 'right'  
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });              
    div(style='width:100%;white-space:nowrap')
        div(style='display:inline-block;width:32%') 
            
                    div Penalty in Minutes By Period                      
                    div(id='chart41' class='c3chart') 
                    script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart41',
                                size: {
                                    height: 240,
                                    width: 240
                                },                                
                                data: {
                                    json: !{JSON.stringify(pimbyperiod)},
                                    type: 'pie',
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });                   
        div(style='display:inline-block;width:2%')  
        div(style='display:inline-block;width:32%')       
                    div Penalty in Minutes By Kind                      
                    div(id='chart51' class='c3chart') 
                    script(type='text/javascript').
                            var chart = c3.generate({
                                bindto: '#chart51',
                                size: {
                                    height: 240,
                                    width: 480
                                },                                
                                data: {
                                    json: !{JSON.stringify(pimbykind)},
                                    type: 'pie',
                                },
                                legend: {
                                  position: 'right'  
                                },
                                pie: {
                                    label: {
                                        format: function(value, ration, id) {
                                            return value;
                                        }
                                    }
                                }
                            });   
     
                                                                   