extends layout

block links

    <!-- C3 Chart CSS -->
    link(href='/bower_components/c3/c3.css' rel='stylesheet' type='text/css')
    
    link(href="/stylesheets/style.css" rel="stylesheet" type="text/css")
    
    <!-- Bootstrap Core CSS -->
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css")

    <!-- MetisMenu CSS -->
    link(href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" type="text/css")

    <!-- DataTables CSS -->
    link(href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css")

    <!-- DataTables Responsive CSS -->
    link(href="bower_components/datatables-responsive/css/responsive.dataTables.scss" rel="stylesheet")
    
    <!-- Custom CSS -->
    link(href="/bower_components/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" type="text/css")

    <!-- Custom Fonts -->
    link(href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
            
block content
    div.row
        div.col-lg-12
            h1.page-header #{title}
            ol.breadcrumb
                li
                    i.fa.fa-dashboard
                    a(href="/") 
                        | Dashboard
                li
                    i.fa.fa-user
                    a(href="/playerstats/") 
                        | Skater Stats                        
                li
                    i.fa.fa-line-chart
                    a(href="/playerstats/#{player_id}") 
                        | Player ##{player_id}                      
    div.row
        div.col-lg-12
            div.panel.panel-primary
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-area-chart 
                            | Goals, Assists, Penalties By Period
                div.panel-body            
                    div(id='chart00' class='c3chart') 
    div.row
        div.col-lg-12
            div.panel.panel-primary
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-line-chart 
                            | Goals (PowerPlay, ShortHand, EmptyNet), Assists, Penalty In Minutes By Date
                div.panel-body                
                    div(id='chart10' class='c3chart')              
    div.row
        div.col-lg-12
            div.panel.panel-primary
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-bar-chart 
                            | Goals (PowerPlay, ShortHand, EmptyNet), Assists, Penalty In Minutes By Opponent
                div.panel-body                
                    div(id='chart20' class='c3chart')              
    div.row
        div.col-lg-12
            div.panel.panel-primary
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-bar-chart 
                            | Goals (PowerPlay, ShortHand, EmptyNet), Assists, Penalty In Minutes By Rink
                div.panel-body                
                    div(id='chart30' class='c3chart')                      
    div.row
        div.col-lg-4             
            div.panel.panel-green
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-pie-chart 
                            | Goals By Period   
                div.panel-body      
                    div(id='chart40' class='c3chart') 
        div.col-lg-4             
            div.panel.panel-green
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-pie-chart 
                            | Assists By Period   
                div.panel-body      
                    div(id='chart41' class='c3chart') 
        div.col-lg-4             
            div.panel.panel-green
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-pie-chart 
                            | Points By Period   
                div.panel-body    
                    div(id='chart42' class='c3chart') 
    div.row
        div.col-lg-4             
            div.panel.panel-green
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-pie-chart 
                            | Goals By Kind   
                div.panel-body    
                    div(id='chart50' class='c3chart') 
        div.col-lg-4             
            div.panel.panel-green
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-pie-chart 
                            | Assists From By Player   
                div.panel-body    
                    div(id='chart51' class='c3chart') 
        div.col-lg-4             
            div.panel.panel-green
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-pie-chart 
                            | Assists To By Player   
            div.panel-body               
                div(id='chart52' class='c3chart') 
    div.row
        div.col-lg-4             
            div.panel.panel-green
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-pie-chart 
                            | Penalty By Period   
                div.panel-body      
                    div(id='chart60' class='c3chart') 
        div.col-lg-8             
            div.panel.panel-green
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-pie-chart 
                            | Penalty By Kind   
                div.panel-body            
                    div(id='chart61' class='c3chart') 
    div.row
        div.col-lg-4             
            div.panel.panel-green
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-pie-chart 
                            | Penalty In Minutes By Period   
            div.panel-body              
                div(id='chart70' class='c3chart') 
        div.col-lg-8             
            div.panel.panel-green
                div.panel-heading
                    h3.panel-title 
                        i.fa.fa-pie-chart 
                            | Penalty In Minutes By Kind   
                div.panel-body        
                    div(id='chart71' class='c3chart') 

block scripts
    <!-- D3 Chart JavaScript -->
    script(src='/bower_components/d3/d3.min.js' charset='utf-8' type='text/javascript')

    <!-- C3 Chart JavaScript -->
    script(src='/bower_components/c3/c3.min.js' type='text/javascript')

    <!-- jQuery -->
    script(src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript")
    
    <!-- Bootstrap Core JavaScript -->
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")

    <!-- Metis Menu Plugin JavaScript -->
    script(src="/bower_components/metisMenu/dist/metisMenu.min.js" type="text/javascript")

    <!-- DataTables JavaScript -->
    script(src="/bower_components/datatables/media/js/jquery.dataTables.min.js" type="text/javascript")
    script(src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" type="text/javascript")

    <!-- Custom Theme JavaScript -->
    script(src="/bower_components/sb-admin-2/js/sb-admin-2.js" type="text/javascript")   

    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart00',
            data: {
                json: !{JSON.stringify(player_stats_0.occurred_at)},
                keys: {
                    x:'time',
                    value: ['g', 'a', 'penalty'],
                },
                type: 'scatter',
                xFormat: '%M:%S'
            },
            axis: {
                x: {
                    label:'Time',
                    type: 'timeseries',
                    tick: {
                        format: '%M:%S'
                    }
                }
            },
            regions: [
                {axis: 'x', start: '0:00', end: '20:00', class: 'region-period1'},
                {axis: 'x', start: '20:01', end: '40:00', class: 'region-period2'},
                {axis: 'x', start: '40:01', end: '60:00', class: 'region-period3'},
            ],
            tooltip: {
                format: {
                    title: function(d) {
                        var format = d3.time.format('%M:%S');
                        return 'At ' + format(d);
                    },
                    name: function(name, ratio, id, index) {
                        return name;
                    },
                    value: function(value, ratio, id) {
                        if (id == 'g') {
                            if (value == #{player_id}) {
                                return 'No assist';
                            } else {
                                return 'Assist from ' + value;
                            }
                        } else if (id == 'a') {
                            return 'Assist to ' + value;
                        } else {
                            return value;
                        }
                    }
                }
            }
        });  

    script(type='text/javascript').
        var chart0 = c3.generate({
            bindto: '#chart10',
            data: {
                json: !{JSON.stringify(player_stats_1.gamestats)},
                keys: {
                    x: 'date',
                    value: ['g', 'a', 'ppg', 'shg', 'eng', 'pts', 'pim']
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%Y-%m-%d'
                    }
                }
            }
        });

    script(type='text/javascript').
        var chart0 = c3.generate({
            bindto: '#chart20',
            data: {
                json: !{JSON.stringify(player_stats_1.opponent_stats)},
                keys: {
                    x: 'opponent',
                    value: ['g', 'a', 'ppg', 'shg', 'eng', 'pts', 'pim']
                },
                type: 'bar'
            },
            legend: {
                position: 'inset',
                inset: {
                    anchor: 'top-right'
                }
            },
            axis: {
                x: {
                    type: 'category',
                }
            }
        });

    script(type='text/javascript').
        var chart0 = c3.generate({
            bindto: '#chart30',
            data: {
                json: !{JSON.stringify(player_stats_1.rink_stats)},
                keys: {
                    x: 'rink',
                    value: ['g', 'a', 'ppg', 'shg', 'eng', 'pts', 'pim']
                },
                type: 'bar'
            },
            legend: {
                position: 'inset',
                inset: {
                    anchor: 'top-right'
                }
            },
            axis: {
                x: {
                    type: 'category',
                }
            }
        });
    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart40',
            size: {
                height: 240,
                width: 240
            },
            data: {
                json: !{JSON.stringify(player_stats_0.goal_by_period)},
                type: 'pie',
            },
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });              
    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart41',
            size: {
                height: 240,
                width: 240
            },        
            data: {
                json: !{JSON.stringify(player_stats_0.assist_by_period)},
                type: 'pie',
            },
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });               
    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart42',
            size: {
                height: 240,
                width: 240
            },        
            data: {
                json: !{JSON.stringify(player_stats_0.point_by_period)},
                type: 'pie',
            },
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });    

    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart50',
            size: {
                height: 240,
                width: 240
            },
            data: {
                json: !{JSON.stringify(player_stats_0.goal_by_kind)},
                type: 'pie',
            },
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });  
    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart51',
            size: {
                height: 240,
                width: 240
            },
            data: {
                json: !{JSON.stringify(player_stats_0.assist_from_by_player)},
                type: 'pie',
            },
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });              
    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart52',
            size: {
                height: 240,
                width: 240
            },        
            data: {
                json: !{JSON.stringify(player_stats_0.assist_to_by_player)},
                type: 'pie',
            },
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });     
    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart60',
            size: {
                height: 240,
                width: 240
            },        
            data: {
                json: !{JSON.stringify(player_stats_0.penalty_by_period)},
                type: 'pie',
            },
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });      
    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart61',
            size: {
                height: 240,
                width: 480
            },        
            data: {
                json: !{JSON.stringify(player_stats_0.penalty_by_kind)},
                type: 'pie',
            },
            legend: {
                position: 'right'  
            },
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });
    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart70',
            size: {
                height: 240,
                width: 240
            },        
            data: {
                json: !{JSON.stringify(player_stats_0.pim_by_period)},
                type: 'pie',
            },
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });                   
    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart71',
            size: {
                height: 240,
                width: 480
            },        
            data: {
                json: !{JSON.stringify(player_stats_0.pim_by_kind)},
                type: 'pie',
            },
            legend: {
                position: 'right'  
            },
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });   
                  