extends layout

block links

    <!-- C3 Chart CSS -->
    link(href='/bower_components/c3/c3.css' rel='stylesheet' type='text/css')
    
    link(href="/stylesheets/style.css" rel="stylesheet" type="text/css")
    
    <!-- Bootstrap Core CSS -->
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css")

    <!-- MetisMenu CSS -->
    link(href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" type="text/css")

    <!-- DataTables CSS -->
    link(href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css")

    <!-- DataTables Responsive CSS -->
    link(href="bower_components/datatables-responsive/css/responsive.dataTables.scss" rel="stylesheet")
    
    <!-- Custom CSS -->
    link(href="/bower_components/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" type="text/css")

    <!-- Custom Fonts -->
    link(href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")

block content
    div.row
        div.col-lg-12
            h1.page-header #{title}
            ol.breadcrumb
                li
                    i.fa.fa-dashboard
                    a(href="/") 
                        | Dashboard
                li
                    i.fa.fa-users
                    a(href="/teamstats") 
                        | Team Stats
    div.row
        div.col-lg-12
            div.panel.panel-default
                div.panel-heading
                    | Game Stats
                div.panel-body
                    div.dataTable_wrapper
                        table#datatable-gamestats.table.table-hover
                            thead
                                tr
                                    th #
                                    th Date
                                    th Time
                                    th Opponent
                                    th Home/Away
                                    th Type
                                    th Rink
                                    th Goals For
                                    th Goals Against
                                    th Penalty in Minutes
                            tbody
                                each game in team_stats_0.game_stats
                                    tr
                                        td #{game.number}
                                        td #{game.date}
                                        td #{game.time}
                                        td #{game.opponent}
                                        td #{game.homeaway}
                                        td #{game.kind}
                                        td #{game.rink}
                                        td #{game.gf}
                                        td #{game.ga}
                                        td #{game.pim}
            div.row
                div.col-lg-12
                    div.panel.panel-primary
                        div.panel-heading
                            h3.panel-title 
                                i.fa.fa-bar-chart-o 
                                    | Goals For, Goals Against, Penalty in Minutes By Date
                                div.pull-right
                                    div.btn-group
                                        button.btn.btn-default.btn-xs.dropdown-toggle(type="button" data-toggle="dropdown")
                                            | Bar 
                                            span.caret
                                        ul.dropdown-menu.pull-right(role="menu")
                                            li
                                                a()
                                                    | Bar
                                            li
                                                a()
                                                    | TimeSeries                                      
                        div.panel-body
                            div(id='chart00' class='c3chart' data-layout='bar' data-xvalue='date' data-yvalues='gf|ga|pim') 
                            div(id='chart10' class='c3chart' data-layout='timeseries' data-xvalue='date' data-yvalues='gf|ga|pim')                                      
            div.row
                div.col-lg-12
                    div.panel.panel-primary
                        div.panel-heading
                            h3.panel-title 
                                i.fa.fa-area-chart 
                                    | Goals For, Goals Against, Penalties By Period
                        div.panel-body       
                            div(id='chart20' class='c3chart') 
            div.row
                div.col-lg-12
                    div.panel.panel-primary
                        div.panel-heading
                            h3.panel-title 
                                i.fa.fa-bar-chart-o 
                                    | Goals For, Goals Against, Penalty in Minutes By Opponent
                        div.panel-body
                            div(id='chart30' class='c3chart' data-layout='bar' data-xvalue='opponent' data-yvalues='gf|ga|pim') 
            div.row
                div.col-lg-12
                    div.panel.panel-primary
                        div.panel-heading
                            h3.panel-title 
                                i.fa.fa-bar-chart-o 
                                    | Goals For, Goals Against, Penalty in Minutes By Rink
                        div.panel-body
                            div(id='chart40' class='c3chart' data-layout='bar' data-xvalue='rink' data-yvalues='gf|ga|pim') 
            div.row
                div.col-lg-4
                    div.panel.panel-green
                        div.panel-heading
                            h3.panel-title 
                                i.fa.fa-pie-chart 
                                    | Goals By Period   
                        div.panel-body       
                            div(id='chart50' class='c3chart') 
                div.col-lg-8
                    div.panel.panel-green
                        div.panel-heading
                            h3.panel-title 
                                i.fa.fa-pie-chart 
                                    | Goals By Kind   
                        div.panel-body                
                            div(id='chart51' class='c3chart') 
            div.row
                div.col-lg-4     
                    div.panel.panel-green
                        div.panel-heading
                            h3.panel-title 
                                i.fa.fa-pie-chart 
                                    | Penalties By Period   
                        div.panel-body                       
                            div(id='chart60' class='c3chart') 
                div.col-lg-8 
                    div.panel.panel-green
                        div.panel-heading
                            h3.panel-title 
                                i.fa.fa-pie-chart 
                                    | Penalties By Kind   
                        div.panel-body                          
                            div(id='chart61' class='c3chart') 
            div.row
                div.col-lg-4
                    div.panel.panel-green
                        div.panel-heading
                            h3.panel-title 
                                i.fa.fa-pie-chart 
                                    | Penalty In Minutes By Period   
                        div.panel-body               
                            div(id='chart70' class='c3chart') 
                div.col-lg-8                                                         
                    div.panel.panel-green
                        div.panel-heading
                            h3.panel-title 
                                i.fa.fa-pie-chart 
                                    | Penalty In Minutes By Kind   
                        div.panel-body                    
                            div(id='chart71' class='c3chart') 

block scripts
    <!-- D3 Chart JavaScript -->
    script(src='/bower_components/d3/d3.min.js' charset='utf-8' type='text/javascript')

    <!-- C3 Chart JavaScript -->
    script(src='/bower_components/c3/c3.min.js' type='text/javascript')

    <!-- jQuery -->
    script(src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript")
    
    <!-- Bootstrap Core JavaScript -->
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")

    <!-- Metis Menu Plugin JavaScript -->
    script(src="/bower_components/metisMenu/dist/metisMenu.min.js" type="text/javascript")

    <!-- DataTables JavaScript -->
    script(src="/bower_components/datatables/media/js/jquery.dataTables.min.js" type="text/javascript")
    script(src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" type="text/javascript")

    <!-- Custom Theme JavaScript -->
    script(src="/bower_components/sb-admin-2/js/sb-admin-2.js" type="text/javascript")
    
    script(type="text/javascript").
        $(document).ready(function() {
            $('#datatable-gamestats').DataTable({
                "responsive": true,
                "bPaginate": true,
                "bJQueryUI": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": false,
                "bInfo": true,
                "bAutoWidth": true,
                "bProcessing": true,
                "iDisplayLength": 10,
            });
            $("#chart10").hide();
        });

    script(type='text/javascript').
        $(".dropdown-menu li a").click(function(){
            var selText = $(this).text();
            $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
            if (selText == "Bar") {
                $("#chart00").show();
                $("#chart10").hide();
            } else {
                $("#chart00").hide();
                $("#chart10").show();
            }
        });

    script(type='text/javascript').
        var chartdiv = d3.select('#chart00');
        var layout = chartdiv.attr('data-layout');
        var xvalue = chartdiv.attr('data-xvalue');
        var yvalues = chartdiv.attr('data-yvalues')?chartdiv.attr('data-yvalues').split('|'):null;
        var chart = c3.generate({
            bindto: '#chart00',
            data: {
                json: !{JSON.stringify(team_stats_0.game_stats)},
                keys: {
                    x: xvalue,
                    value: yvalues,
                },
                type: layout
            },
            legend: {
                position: 'inset',
                inset: {
                    anchor: 'top-right'
                }
            },
            axis: {
                x: {
                    type: 'category',
                }
            }
        }); 

    script(type='text/javascript').
        var chartdiv1 = d3.select('#chart10');
        var layout1 = chartdiv1.attr('data-layout');
        var xvalue1 = chartdiv1.attr('data-xvalue');
        var yvalues1 = chartdiv1.attr('data-yvalues')?chartdiv1.attr('data-yvalues').split('|'):null;
        var chart1 = c3.generate({
            bindto: '#chart10',
            data: {
                json: !{JSON.stringify(team_stats_0.game_stats)},
                keys: {
                    x: xvalue1,
                    value: yvalues1
                }
            },
            legend: {
                position: 'inset',
                inset: {
                    anchor: 'top-right'
                }
            },                        
            axis: {
                x: {
                    type: layout1,
                    tick: {
                        format: '%Y-%m-%d'
                    }
                }
            }
        });

    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart20',
            data: {
                json: !{JSON.stringify(team_stats_1.team_time_stats)},
                keys: {
                    x:'time',
                    value: ['gf', 'ga', 'penalty'],
                },
                type: 'scatter',
                xFormat: '%M:%S'
            },
            legend: {
                position: 'bottom'
            },                            
            axis: {
                x: {
                    label:'Time',
                    type: 'timeseries',
                    tick: {
                        format: '%M:%S'
                    }
                }
            },
            regions: [
                {axis: 'x', start: '0:00', end: '20:00', class: 'region-period1'},
                {axis: 'x', start: '20:01', end: '40:00', class: 'region-period2'},
                {axis: 'x', start: '40:01', end: '60:00', class: 'region-period3'},
            ],
            tooltip: {
                format: {
                    title: function(d) {
                        var format = d3.time.format('%M:%S');
                        return 'At ' + format(d);
                    },
                    name: function(name, ratio, id, index) {
                        return name;
                    },
                    value: function(value, ratio, id) {
                        if (id == 'gf') {
                            return 'Goal scored by player #' + value;
                        } else if (id == 'ga') {
                            return 'Opponent Goal scored by player #' + value;
                        } else if (id == 'penalty') {
                            return 'Penalty taken by player #' + value;
                        } else {
                            return '';
                        }
                    }                        
                }
            }
        });  
    script(type='text/javascript').
        var chartdiv = d3.select('#chart30');
        var layout = chartdiv.attr('data-layout');
        var xvalue = chartdiv.attr('data-xvalue');
        var yvalues = chartdiv.attr('data-yvalues')?chartdiv.attr('data-yvalues').split('|'):null;
        var chart = c3.generate({
            bindto: '#chart30',
            data: {
                json: !{JSON.stringify(team_stats_0.opponent_stats)},
                keys: {
                    x: xvalue,
                    value: yvalues,
                },
                type: layout
            },
            legend: {
                position: 'inset',
                inset: {
                    anchor: 'top-right'
                }
            },
            axis: {
                x: {
                    type: 'category',
                }
            }
        }); 

    script(type='text/javascript').
        var chartdiv = d3.select('#chart40');
        var layout = chartdiv.attr('data-layout');
        var xvalue = chartdiv.attr('data-xvalue');
        var yvalues = chartdiv.attr('data-yvalues')?chartdiv.attr('data-yvalues').split('|'):null;
        var chart = c3.generate({
            bindto: '#chart40',
            data: {
                json: !{JSON.stringify(team_stats_0.rink_stats)},
                keys: {
                    x: xvalue,
                    value: yvalues,
                },
                type: layout
            },
            legend: {
                position: 'inset',
                inset: {
                    anchor: 'top-right'
                }
            },
            axis: {
                x: {
                    type: 'category',
                }
            }
        }); 
    
    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart50',
            size: {
                height: 240,
                width: 240
            },
            data: {
                json: !{JSON.stringify(team_stats_1.goal_by_period)},
                type: 'pie',
            },
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });              

    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart51',
            size: {
                height: 240,
                width: 480
            },
            data: {
                json: !{JSON.stringify(team_stats_1.goal_by_kind)},
                type: 'pie',
            },
            legend: {
                position: 'right'  
            },    
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });
    
    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart60',
            size: {
                height: 240,
                width: 240
                },
                data: {
                    json: !{JSON.stringify(team_stats_1.penalty_by_period)},
                    type: 'pie',
                },                          
                pie: {
                    label: {
                        format: function(value, ration, id) {
                            return value;
                        }
                    }
                }
            });    

    script(type='text/javascript').                                       
        var chart = c3.generate({
            bindto: '#chart61',
            size: {
                height: 240,
                width: 480
            },
            data: {
                json: !{JSON.stringify(team_stats_1.penalty_by_kind)},
                type: 'pie',
            },
            legend: {
                position: 'right'  
            },
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });

    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart70',
            size: {
                height: 240,
                width: 240
            },
            data: {
                json: !{JSON.stringify(team_stats_1.pim_by_period)},
                type: 'pie',
            },                     
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });                  

    script(type='text/javascript').
        var chart = c3.generate({
            bindto: '#chart71',
            size: {
                height: 240,
                width: 480
            },
            data: {
                json: !{JSON.stringify(team_stats_1.pim_by_kind)},
                type: 'pie',
            },
            legend: {
                position: 'right'  
            },
            pie: {
                label: {
                    format: function(value, ration, id) {
                        return value;
                    }
                }
            }
        });     
  
    